# compiler.config file for Qsoft - used by make for build
# Both C and Fortran compilers are required.
CC = /usr/bin/gcc
F77 = /usr/local/bin/gfortran
CFLAGS = -fPIC -Wall --pedantic -Wno-long-long
LARGEFLAGS = -D_LARGEFILE_SOURCE -D_FILE_OFFSET_BITS=64
FFLAGS = -fPIC -fno-second-underscore -fno-backslash -ffixed-line-length-none -O
# Shareable objects will be produced for R and/or Python
# depending on which variables are set.
# To skip production of a shareable set variable empty.
# The R CMD SHLIB command is used to produce the R shareable.
R = /usr/local/bin/R
# The Python f2py module is used to produce the Python shareable.
F2PY = /usr/local/bin/f2py
